<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Live solve weekend challenge 3</title>
    <script src="vendors/jquery-2.2.3.min.js" charset="utf-8"></script>
    <script src="scripts/clinetCalc.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>in class livesolve</h1>
    <input type="text" name="input1" id="input1" value="" placeholder="ENTER NUMBER 1">
    <button type="button" name="addButton" id="addButton">+</button>
    <button type="button" name="subtractButton" id="subtractButton">-</button>
    <button type="button" name="multiplyButton" id="multiplyButton">*</button>
    <button type="button" name="divideButton" id="divideButton">/</button>
    <input type="text" name="input2" id="input2" value="" placeholder="ENTER NUMBER 2">
    <button type="button" name="calcButton" id="calcButton">CALCULATE</button>

  </body>
</html>
